* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background: #3f3c3c;
  color: white;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  overflow: hidden;
}

header {
  min-width: 20%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  outline: none;
  background: #3f3c3c;
  color: white;
}

input:focus {
  border: 1px solid crimson;
}

input::-webkit-input-placeholder {
  color: white;
}

input:-ms-input-placeholder {
  color: white;
}

input::-ms-input-placeholder {
  color: white;
}

input::placeholder {
  color: white;
}

button {
  outline: none;
  border: 1px solid white;
  padding: 5px 10px;
  margin: 10px;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

button:hover {
  border: 1px solid crimson;
  background: crimson;
}

button:focus {
  outline: none;
}

.details-container {
  padding: 1rem 0;
  margin: 1rem 0;
}

.total-expense {
  color: #eb0e0e;
}

.income {
  color: white;
}

.left-over {
  color: #48ff00;
}

.value {
  position: relative;
  top: 0.8rem;
}

section {
  position: relative;
  width: 80%;
  padding: 2rem;
  overflow-x: auto;
}

.expense-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
}

.expense-card {
  min-width: 25%;
  margin: 2rem;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.expense-card h2 {
  margin: 10px;
}

.expense-card h3 {
  margin: 10px;
}

.expense-card:hover {
  border: 2px solid crimson;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.error-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.8);
}

.error-message {
  padding: 3rem 6rem;
  background: rgba(194, 3, 3, 0.5);
  border-radius: 15px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    overflow-x: hidden;
  }
  h2 {
    font-size: 1.2rem;
  }
  header {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    height: auto;
  }
  input {
    margin: 5px 0;
    padding: 5px;
  }
  .details-container {
    padding: 5px 0;
  }
  section {
    width: 100%;
    padding: 1rem;
  }
  .expense-container {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .expense-card {
    width: 40%;
    margin: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */